streamlit
pandas
scikit-learn
transformers
torch
nltk
spacy
matplotlib
seaborn
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
